/* General style */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input,
button {
    box-shadow: none;
    outline: 0;
    border: 0;
    display: none;
}
.padding{
    padding: 60px 0;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    color: var(--textLight);
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Serif Pro', serif;
}

// Link Section 
a{
    text-decoration: none;
}
a:link{
    color: gold;
}
a:visited{
    color: red;
}
a:hover{
    color: green;
}
span{
    color: #000;
}
/* Variable */
:root{
    --primary:#ffffff;
    --secondary: #FEF9F7;
    --accent: #EA5433;
    --textDark: rgb(35, 45, 56);
    --textLight:rgb(122, 122, 122);
    --bg: rgb(233, 236, 252);
    --textWhite: rgb(255, 255, 255);
}
/* CENTER ELEMENTS */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TEXTS */
.text-center{
    text-align: center;
}
.text-primary{
    color: var(--primary);
}
.font-0{
 font-size: 0;
}
// SPINING ELEMENT
.spin{
    cursor: pointer;
    transform-style: preserve-3d;
}
.spin:hover{
    animation: spin 5s linear infinite;
}
@keyframes spin{
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}