/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General style */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  box-shadow: none;
  outline: 0;
  border: 0;
  display: none;
}

.padding {
  padding: 60px 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: var(--textLight);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  color: green;
}

span {
  color: #000;
}

/* Variable */
:root {
  --primary:#ffffff;
  --secondary: #FEF9F7;
  --accent: #EA5433;
  --textDark: rgb(35, 45, 56);
  --textLight:rgb(122, 122, 122);
  --bg: rgb(233, 236, 252);
  --textWhite: rgb(255, 255, 255);
}

/* CENTER ELEMENTS */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXTS */
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary);
}

.font-0 {
  font-size: 0;
}

.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}

.spin:hover {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* FLEX-BOX */
.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.item-start {
  align-items: flex-start;
}

.item-stretch {
  align-items: stretch;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-top {
  margin-top: 20px;
}

/* Flex percentage */
.flex-20 {
  flex: 0 1 25%;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  font-size: 12px;
  padding: 8px 28px;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 0 #f9e506;
  outline: none;
  border: none;
  transition: ease-in-out 0.3%;
  background-color: #ff0044;
  margin: 0 auto;
  border-radius: 5px;
}

button:hover {
  box-shadow: inset 100px 0 0 0 #f9e506;
  cursor: pointer;
  color: #000;
}

.sub-menu {
  display: none;
  z-index: 999;
  position: absolute;
  top: 2.5rem;
  background-color: white;
  padding: 2rem;
}

.btn:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  color: #ffffff !important;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  color: var(--textWhite);
  text-transform: capitalize;
}

.sub-heading {
  text-transform: capitalize;
  font-size: 2rem;
  color: var(--textWhite);
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}

.brand img {
  transform: scale(1.75);
}

.para {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
  color: #ffffff;
  margin: 75px 0;
  font-family: "Raleway", sans-serif;
}

/* NAVIGATION BAR */
.nav a:hover {
  color: #EA513E;
  border-bottom: 1px solid #EA513E;
}

.nav-bar {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: #FFFFFF;
}

.nav-menu-item {
  margin-left: 30px;
}

.nav-menu-item a {
  text-transform: capitalize;
  font-weight: 600;
  color: #635551;
  text-decoration: none;
}

.brand {
  text-decoration: none;
  color: #423d3b;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 1000;
}

.active {
  color: #ff0044;
}

.nav-menu-item a:hover {
  color: var(--accent);
}

/* .nav-bar{
    background-color: #ffffff;
    height: 80px;
    position: fixed;
    z-index: 999;
} */
.nav-menu-item a {
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 30px;
}

.nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(17, 17, 17, 0.9);
  padding-top: 12rem;
  z-index: 9;
}

#toggle:checked ~ .nav {
  display: inline-block;
}

.bars {
  font-size: 2rem;
  color: var(--textWhite);
  visibility: visible;
  z-index: 99;
  display: inline-block;
  color: var(--accent);
  position: fixed;
  top: 1.5rem;
}

.bars {
  right: 1.5rem;
}

/* HERO SECTION */
.hero {
  background: linear-gradient(#030303, black), url(../media/hero-bg.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 300px 0;
  position: relative;
  top: 0;
}

.hero-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ff0044;
  border-radius: 50%;
  position: relative;
  color: #ffffff;
  z-index: 99;
  bottom: 12px;
}

.hero-circle i {
  font-size: 30px;
  color: #ffffff;
}

.hero-text {
  align-items: center;
  text-transform: capitalize;
  font-size: 25px;
  color: white;
  margin-left: 12px;
  margin-bottom: 20px;
}

.address {
  margin: 0 auto;
  font-size: 25px;
  color: #423d3b;
}

.hero-image img {
  border-radius: 100%;
}

.project {
  text-align: center;
}

.project-items {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 12rem;
}

.project-para {
  color: black;
  margin-bottom: 22px;
  text-transform: capitalize;
  font-style: oblique;
}

.project-img img {
  width: 100%;
  height: 18rem;
}

.project .project-items:nth-child(odd) {
  flex-direction: row-reverse;
}

.project .project-items .left {
  flex: 1;
}

.project .project-items .right {
  flex: 1;
  margin-left: -150px;
  background-color: var(--bg);
  padding: 2rem 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px #00000028;
  z-index: 2;
}

.project .progress-items:nth-child(even) .right {
  margin-left: 0;
}

.project .progress-items:nth-child(even) .left {
  margin-left: -150px;
}

.left .project-img {
  width: 100%;
  height: 22rem;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #4705fc33;
}

.project-img img:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #5a24ed38;
}

.project-img img {
  transition: 1.3s ease transform;
}

.project-img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.preview-btn {
  border: 2px solid green;
  padding: 4px 28px;
  border-radius: 5px;
  text-transform: capitalize;
  margin-left: 15px;
  box-shadow: inset 0 0 0 0 #f9e506;
  outline: none;
  transition: ease-in-out 0.3%;
}

.project-heading {
  color: #0bcddb;
}

/* Skills Section*/
.skill {
  background-color: #48BB78;
  padding: 65px;
  text-align: center;
}

.progress-items progress {
  width: 100%;
  height: 40px;
  background-color: #000;
}

.progress-items h3 {
  font-size: 25px;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
}

.progress-items p {
  color: black;
  font-weight: 900;
}

/* FOOTER SECTION*/
.footer {
  background-color: #0bcddb;
}

.about-content {
  width: 25%;
}

hr {
  color: #ff0044;
  width: 50%;
}

.about-para {
  color: black;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.social-media {
  color: black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  margin-top: 22px;
  margin-bottom: 12px;
}

.social-media-link {
  color: #ffffff;
  font-size: 1;
}

/* Address */
.address-icon {
  margin-bottom: 30px;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.address-icon i {
  font-size: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

/* CONTACT FORM */
.contact {
  width: 32%;
}

.form {
  width: 100%;
}

.form input {
  display: inline-block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.form textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  border: none;
}

.form button {
  display: inline-block;
  width: 100%;
  padding: 18px;
  margin: 10px 0;
}

.footer-copyright {
  background-color: pink;
}

small {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
  color: black;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}

.back-to-top {
  padding: 0.8rem 1rem;
}/*# sourceMappingURL=style.css.map */