@import "reset";
@import "general";
@import "flex-Box";


.container{
    max-width: 1380px;
    margin: 0 auto;
    width:100%; 
}

.btn{
    font-size: 12px;
    padding: 8px 28px;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 0 #f9e506;
    outline: none;
    border: none;
    transition: ease-in-out 0.30%;
    background-color: rgb(255, 0, 68);
    margin: 0 auto;
    border-radius: 5px;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor: pointer;
    color: #000;
}
.sub-menu{
    display: none;
    z-index: 999;
    position: absolute;
    top: 2.5rem;
    background-color: white;
    padding: 2rem;
}
.display_menu:hover + .sub-menu{
    display: block;
}
.btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    color: #ffffff !important;
}
.heading{
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--textWhite);
    text-transform: capitalize;
}
.sub-heading{
    text-transform: capitalize;
    font-size: 2.0rem;
    color: var(--textWhite);
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    
}
.brand img{
    transform: scale(1.75);
}

.para{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1rem;
    color: #ffffff;
    margin: 75px 0;
    font-family: 'Raleway', sans-serif;
}
/* NAVIGATION BAR */

.nav a:hover {
	color: #EA513E;
    border-bottom: 1px solid #EA513E;
}
.nav-bar {
    position: absolute;
     top: 0px;
    width: 100%;
    z-index: 999;
    background-color: #FFFFFF;
}
.nav-menu-item{
   margin-left: 30px;
}
.nav-menu-item a{
    text-transform: capitalize;
    font-weight: 600;
    color: #635551;
    text-decoration: none;
}
.brand{
    text-decoration: none;
    color:#423d3b;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 1000;
}
.active{
    color: rgb(255, 0, 68);;
}
.nav-menu-item a:hover{
    color: var(--accent); 
}
/* .nav-bar{
    background-color: #ffffff;
    height: 80px;
    position: fixed;
    z-index: 999;
} */
.nav-menu-item a{
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 30px;
}
.nav{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(17, 17, 17, 0.9);
    padding-top: 12rem;
    z-index: 9;
}
#toggle:checked ~ .nav {
    display: inline-block;
}
.bars{
    font-size: 2rem;
    color: var(--textWhite);
    visibility: visible;
    z-index: 99;
    display: inline-block;
    color: var(--accent);
    position: fixed;
    top: 1.5rem;
}
.bars{
    right: 1.5rem;
}
/* HERO SECTION */
.hero{
    background: linear-gradient(rgb(3 3 3), rgb(0 0 0)), url(../media/hero-bg.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    padding: 300px 0;
    position: relative;
    top: 0;
}
.hero-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 0, 68);
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    z-index: 99;
    bottom: 12px;
}
.hero-circle i{
    font-size: 30px;
    color: #ffffff;
}
.hero-text{
    align-items: center;
    text-transform: capitalize;
    font-size: 25px;
    color:rgb(255, 255, 255);
    margin-left: 12px;
    margin-bottom: 20px;
}
.address{
    margin: 0 auto;
    font-size: 25px;
    color: #423d3b;
}
.hero-image img{
    border-radius: 100%;
}

/* Skills Section*/
.skill{
   background-color: #48BB78;
   padding: 65px;
   text-align: center;
} 
.progress-items progress{
    width: 100%;
    height: 40px;
    background-color: #000;
}
.progress-items h3{
    font-size: 25px;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
}
.progress-items p{
    color:black;
    font-weight: 900;
}
/* FOOTER SECTION*/

.footer{
  background-color: rgb(11, 205, 219);
}
.about-content{
    width: 25%;
}
hr{
    color: rgb(255, 0, 68);
    width: 50%;
}
.about-para{
    color: black;
}
.footer-nav{
	display: flex;
	justify-content: space-between ;
}
.social-media{
    color: black;
	width:50px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color:black;
	margin-top: 22px;
	margin-bottom: 12px;	
}
.social-media-link{
	color: #ffffff;
	font-size: 1;
}
/* Address */
.address-icon {
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.address-icon i {
  font-size: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

/* CONTACT FORM */
.contact{
    width: 32%;
}
.form{
	width: 100%;
}
.form input{
	display:inline-block;
	width: 100%;
	padding: 12px;
	margin: 10px 0;
}
.form textarea{
	width: 100%;
	height: 100px;
	padding: 15px;
}

.footer-copyright{
    background-color: pink;
}
small{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}
.back-to-top{
    padding: 0.8rem 1rem;
}   